security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email # Ou 'username' selon votre entité User



    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            # form_login:
                # login_path: app_login
                # check_path: app_login
                # enable_csrf: true
            custom_authenticator: App\Security\UserAuthenticator
            user_checker: App\Security\UserChecker
            remember_me:
                secret: '%kernel.secret%' # Indispensable pour chiffrer le cookie
                lifetime: 604800           # Durée en secondes (ici 1 semaine)
                path: /                # Le cookie est valide sur tout le site


            logout:
                path: app_logout
                target: app_login

                # where to redirect after logout
                # target: app_any_route

            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall


            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Note: Only the *first* matching rule is applied
    access_control:
       # access_control:
        # 1. On autorise les routes publiques précises
        - { path: ^/login, roles: PUBLIC_ACCESS }

        # 2. On restreint l'admin AVANT de restreindre le reste du site
        - { path: ^/register, roles: ROLE_ADMIN }

        # 3. La racine : si c'est ta page de login, PUBLIC_ACCESS est bon.
        # Si c'est ton tableau de bord, mets ROLE_USER.
        - { path: ^/$, roles: PUBLIC_ACCESS }

        # 4. Enfin, on protège tout le reste
        - { path: ^/, roles: ROLE_USER }
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
