security:
    # 1. On définit comment charger les utilisateurs
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email # Ou 'username' selon votre entité User

    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            # 2. On lie le firewall au provider défini plus haut
            provider: app_user_provider

            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true

            logout:
                path: app_logout
                target: app_sortie_index

    # 3. Optionnel : définir des contrôles d'accès
    access_control:
    # - { path: ^/admin, roles: ROLE_ADMIN }
    # - { path: ^/profile, roles: ROLE_USER }
