controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

app_sortie_index:
    path: /sorties
    controller: App\Controller\SortieController::index
