{% extends '../../assets/styles/base.html.twig' %}

{% block title %}Sortir.com | Accueil{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        <h1>Bienvenue sur Sortir.com !</h1>
        <p>Date du jour : {{ "now"|date("d/m/Y") }}</p>
        <button>Se connecter</button>
    </div>
{% endblock %}
