<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    {# Ici on mettra le CSS plus tard #}
</head>
<body>
 {# C'est ici que s'affichera le contenu de tes autres pages #}
{% block body %}{% endblock %}
</body>
</html>
